// ! <<<Header&headerburger>>>
header.header
    .header__body
        .header__logo
            img(src='#' alt='')
        .header-burger
            span
        .header__menu
            ul.header__list
                li.header__link
                    a(href="#") 1
                li.header__link
                    a(href="#") 2
                li.header__link
                    a(href="#") 3
                li.header__link
                    a(href="#") 4
// ! <<</Header&headerburger>>>