meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
// * Адаптив
//- $ meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
meta(name="viewport" content="width=device-width")
// * Отключает форматирование ссылки у номера телефона на IOS
meta(name="format-detection" content="telephone=no")
// * Описание страницы
meta(name="description" content="#")
meta(name="keywords" content="#")
// * Индексация
meta(name="robots" content="none")
// * Авторские права
meta(name="Author" content="Transparency")
meta(name="Copyright" content="Transparency")
meta(name="Address" content="Unknown")
// * Перенаправление
//- $ meta(http-equiv="refresh" content="0; url=/")