@use "sass:math";
// : Переменные
// : Миксины
// : Функции
// : Шаблоны

// ! <Переменные>=============================================================================================================================================// !
$container: 1120; // @ px
$mainFontSize: 16; // @ px
$mainFontFamily: Arial, sans-serif;
// ! </Переменные>============================================================================================================================================// !

// ! <Миксины>=============================================================================================================================================// !

@mixin adapProp($propetry, $mobSize, $pctSize) {
    // * Адптивное свойство
    #{$propetry}: calc(#{$mobSize + px} + (#{$pctSize} - #{$mobSize}) * ((100vw - 320px) / (#{$container} - 320)));
}

@mixin adapf($pcSize, $mobSize) {
    // * Адаптивный шрифт
    $addSize: $pcSize - $mobSize;
    $container: $container - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$container}));
}

@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@mixin margin-down($margin-bottom) {
    // * отступы для преведущих элементов к следуйщим
    margin-bottom: rem($margin-bottom);
    &:last-child {
        margin-bottom: 0;
    }
}
// ! </Миксины>============================================================================================================================================// !

// ! <Функции>=============================================================================================================================================// !

@function rem($value) {
    // * px to rem
    $remValue: math.div($value, $mainFontSize) + rem;
    @return $remValue;
}


@function em($value) {
    // * px to em
    $remValue: math.div($value, $mainFontSize) + em;
    @return $remValue;
}
// ! </Функции>============================================================================================================================================// !

// ! <Шаблоны>=============================================================================================================================================// !
/* * Небольшие классы { */
.container {
    max-width: $container + px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;
}
/* * Небольшие классы } */
// ! </Шаблоны>============================================================================================================================================// !
